@page "/problem/{Id}"
@using ToDoListBlazor.Models
@using ToDoListBlazor.Services
@inject NavigationManager NavManager
@inject HttpClient HttpClient
@rendermode InteractiveServer

<PageTitle>Problem Detail</PageTitle>

@code {
    [Parameter]
    public string Id { get; set; }

    private Problem problem;
    private ProblemManager pManager = new();

    protected override void OnInitialized()
    {
        problem = pManager.GetProblemData(int.Parse(Id));
    }
    // protected override void OnInitialized()
    // {
    //     var uri = NavManager.ToAbsoluteUri(NavManager.Uri);

    //     if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("id", out var id))
    //     {
    //         problem = pManager.GetProblemData(int.Parse(id));
    //     }
    // }

    private void UpdateProblemDetails(int id)
    {
        NavManager.NavigateTo($"/update/{id}");
    }

    private void AddSubProblem(int id)
    {
        NavManager.NavigateTo($"/addsub/{id}");
    }

    private void DeleteProblem(int id)
    {
        pManager.DeleteProblem(id);
        NavManager.NavigateTo($"/");
    }

    private void test()
    {
        Console.WriteLine("test");
    }
}

@if (problem != null)
{
    <div class="buttons">
        @if (problem.FinishDate == null)
        {
            <button class="abutton" @onclick="()=>UpdateProblemDetails(problem.Id)">Изменить</button>
            <button class="abutton" @onclick="()=>AddSubProblem(problem.Id)">Добавить подзадачу</button>
        }
        @* <button class="btn btn-danger" @onclick="test">Тест</button> *@
        <button class="btn btn-danger" @onclick="() => DeleteProblem(problem.Id)">Удалить</button>

    </div>


    <p>Наименование: <b>@problem.Title</b></p>    
    <p>Описание: @problem.Description</p>
    <p>Исполнители: @problem.Executors</p>
    <p>Статус: @problem.Status</p>

    <p>Дата создания: @problem.StartDate</p>
    <p>Плановая трудоёмкость: @problem.PlannedComplexityTime</p>
    @if (problem.FinishDate != null)
    {
        <p>Дата завершения: @problem.FinishDate</p>
        <p>Фактическое Время выполнения: @problem.FactTime</p>
    }
}

